---
import Layout from '~/layouts/Layout.astro';
import SiteHeader from '~/shared-ui/components/SiteHeader.astro';
import SiteFooter from '~/shared-ui/components/SiteFooter.astro';
import '~/shared-ui/tokens.css';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const currentUrl = Astro.url.toString();
---

<Layout metadata={metadata}>
  <slot name="header">
    <SiteHeader currentUrl={currentUrl} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <SiteFooter />
  </slot>
</Layout>
